.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  background-color: lightblue;
}

button {
  padding: 10px;
  background-color: rgba(82, 78, 78, 0.65);
  border-radius: 5px;
  margin: 10px;
  color: whitesmoke;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 20px;
}